NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NVIDIA_API_KEY=
NVIDIA_MODEL=meta/llama-3.1-70b-instruct
GITHUB_TOKEN=
GITHUB_OWNER=ddastudio140
GITHUB_REPO=blog-post
WEBHOOK_API_KEY=
SCHEDULE_INTERVAL_MINUTES=60
DB_PATH=data/blog_pipeline.db
